<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <sites>
            <site patch:before="site[@name='website']"
                  inherits="website"
                  name="draniki"
                  hostName="2019-draniki.local"
                  rootPath="/sitecore/content/draniki/draniki"
                  startItem="/Home"
                  database="master"
                  enableItemLanguageFallback="true"
             />
        </sites>

        <javaScriptServices>
            <apps>
                <!-- you may override other attributes from 'defaults' in the app definiton below -->
                <app name="draniki"
                     sitecorePath="/sitecore/content/draniki/draniki"
                     filesystemPath="/dist/draniki/project/draniki"
                     inherits="defaults" />
            </apps>
        </javaScriptServices>

    </sitecore>
</configuration>