<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <authenticationProvider type="Unicorn.ControlPanel.Security.ChapAuthenticationProvider, Unicorn">
                <SharedSecret>4F2A578648E58942B3699DD4977677F13FC361894D93A1CAF5FF8C083CD92B95</SharedSecret>
            </authenticationProvider>
        </unicorn>
    </sitecore>
</configuration>
